<h3>Mood</h3>
  <div id="moods">
    <input type="radio" name="mood" value="happy" checked> happy<br>
    <input type="radio" name="mood" value="sad"> sad <br>
    <input type="radio" name="mood" value="angry"> angry <br>
    <input type="radio" name="mood" value="relaxing"> relaxing <br>
    <input type="radio" name="mood" value="excited"> excited <br />
  </div><!-- end moods -->

<button onclick="searchSongs()" style="width:600px; font-size:24px"> search songs </button> <br /> <br />

<div id="song-list"></div>

<input type="hidden" value="13725" name="fma-track-id" />
<input type="hidden" value="TRQCKVG131BAB7368F" name="echonest-track-id" />
