<div id="logo">
  <h1> KINETIC </h1>
</div>

<div id="description"><p>Enter the text of your choice and choose a song mood and we'll put your words to music!
</p></div>

<div id="mood_control">
  <div id="mood">Select mood:</div>

  <div id="mood_form">
    <input type="radio" name="mood" value="happy" checked> happy
    <input type="radio" name="mood" value="sad"> sad 
    <input type="radio" name="mood" value="angry"> angry 
    <input type="radio" name="mood" value="relaxing"> relaxing 
    <input type="radio" name="mood" value="excited"> excited 
  </div><!-- end moods -->

  <button id="play_song"> GO </button>
</div>

<div id="edit_text"><a href="javascript:void();">Edit text</a></div>

<input type="hidden" value="13725" name="fma-track-id" />
<input type="hidden" value="TRQCKVG131BAB7368F" name="echonest-track-id" />
