<div id="header">
    <%= render :partial => "userinput" %>
</div>

<div id="in_text">
  <textarea id="text" type="text">please type your words here...</textarea>
</div>

<div id="animation">
</div>

<div id="controls">
  <%= render :partial => "jplayer" %>
</div>


