<div id="header" style="background-color:red">
    <%= render :partial => "userinput" %>
</div>

<div id="animation" style="background-color:yellow">
</div>

<div id="controls" style="background-color:blue">
  <%= render :partial => "jplayer" %>
</div>


