<button onclick="analyzeSong('TRQCKVG131BAB7368F')">Test AnalyzeSong</button>

<p> Welcome to kinect! </p>

<div id="user-input">

   <textarea id="text" type="text">please type your words here...</textarea>

   <p> Now select a song... </p>

   <%= render :partial => "select-song" %> 

   <input id="fma-song-id" type="hidden" value="13725" name="fma-song-id" />
   <input id="echonest-song-id" type="hidden" value="TRQCKVG131BAB7368F" name="echonest-song-id" />
   <button onclick="play()">Play</button>
</div><!-- end user-input-->

<div id="animation">

</div>

<%= render :partial => "jplayer" %>

<div id="animation"></div>
