@charset "utf-8";
/* LESS Document */

/* Styles for Kinetic
 */

@import "lib/lib.less";

body {
  background: url(/images/type_bg.png) repeat;
}

.wrap {
  position:relative;
  width:800px;
  margin: 0 auto;
}
